{% extends 'machines/base.html' %}

{% load url from future %}

{% load wiki_link %}

{% block content %}
    <h1>Summary</h1>

    <table id="machines" class="tablesorter" border="1" cellpadding="0" cellspacing="1">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>Architecture</th>
                <th>Purpose</th>
            </tr>
        </thead>

    {% for machine in machines %}
        <tr>
            <td><a href="{% url 'machines:detail' machine.hostname %}">{{ machine.hostname }}</a></td>
            <td>{{ machine.architecture }}</td>
            <td>
                <ul>
                {% for purpose in machine.purpose %}
                    <li>{{ purpose|wiki_links|safe }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

