{% extends 'machines/base.html' %}

{% load wiki_link %}

{% block content %}
    <h1>Information about {{ machine.hostname }}</h1>
 
    <ul>
        <li><b>Hostname</b>: {{ machine.hostname }}</li>
        <li><b>Admin</b>: {{ machine.admin }}</li>
        <li><b>Architecture</b>: {{ machine.architecture }}</li>
        <li><b>Distribution</b>: {{ machine.distribution }}</li>
        <li><b>Processor</b>: {{ machine.machine }}</li>
        <li><b>Memory</b>: {{ machine.memory }}</li>
        <li><b>Disk space</b>: {{ machine.disk }}</li>
        <li><b>Bandwidth</b>: {{ machine.bandwidth }}</li>
        <li><b>Status</b>: {{ machine.status }}</li>
        <li><b>SSH host key</b>:
            {% for info in machine.sshRSAHostKey %}
                {{ info }}<br />
            {% endfor %}
        </li>
        <li><b>Description</b>: {{ machine.description }}</li>
        <li><b>Purposes of this server</b>:
            <ul>
            {% for purpose in machine.purpose %}
                <li>{{ purpose|wiki_links|safe }}</li>
            {% endfor%}
            </ul>
        </li>
    </ul>
{% endblock %}

